In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('albums_songs_de_dedub.csv')

In [5]:
df

,Unnamed: 0.1,Unnamed: 0,Artist,Artist_ID,Album,Album_ID,Release_Date,Title,Full_Title,Song_ID,Language
0,7,7,1099,209826,10999,831505,"October 29, 2021",INTRO (10999),INTRO (10999) by King Khalil,7337100,de
1,8,8,1099,209826,10999,831505,"October 29, 2021",MEINE DUNYA,MEINE DUNYA by King Khalil,7337101,de
2,9,9,1099,209826,10999,831505,"October 29, 2021",GIB IHM,GIB IHM by King Khalil & AK 33,7337102,de
3,10,10,1099,209826,10999,831505,"October 29, 2021",10999,10999 by King Khalil,7337103,de
4,12,12,1099,209826,10999,831505,"October 29, 2021",HIGH FÜR IMMER,HIGH FÜR IMMER by King Khalil & Trippie Boi,7337099,de
...,...,...,...,...,...,...,...,...,...,...,...
23700,93617,93617,t-low,9229,Tyskie (EP),553779,"August 2, 2019",40 Nights,40 Nights by ​​t-low (Ft. Sevi Rin),4782294,de
23701,93618,93618,t-low,9229,Tyskie (EP),553779,"August 2, 2019",Fast,Fast by ​​t-low,4782369,de
23702,93619,93619,t-low,9229,Tyskie (EP),553779,"August 2, 2019",Fliegt,Fliegt by ​​t-low (Ft. Murcy),4784534,de
23703,93620,93620,t-low,9229,Tyskie (EP),553779,"August 2, 2019",Lonely,Lonely by ​​t-low,4784567,de
23704,93621,93621,t-low,9229,Tyskie (EP),553779,"August 2, 2019",Augen Rot,Augen Rot by ​​t-low,4784612,de

In [6]:
df.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'], inplace=True)

In [7]:
df

,Artist,Artist_ID,Album,Album_ID,Release_Date,Title,Full_Title,Song_ID,Language
0,1099,209826,10999,831505,"October 29, 2021",INTRO (10999),INTRO (10999) by King Khalil,7337100,de
1,1099,209826,10999,831505,"October 29, 2021",MEINE DUNYA,MEINE DUNYA by King Khalil,7337101,de
2,1099,209826,10999,831505,"October 29, 2021",GIB IHM,GIB IHM by King Khalil & AK 33,7337102,de
3,1099,209826,10999,831505,"October 29, 2021",10999,10999 by King Khalil,7337103,de
4,1099,209826,10999,831505,"October 29, 2021",HIGH FÜR IMMER,HIGH FÜR IMMER by King Khalil & Trippie Boi,7337099,de
...,...,...,...,...,...,...,...,...,...
23700,t-low,9229,Tyskie (EP),553779,"August 2, 2019",40 Nights,40 Nights by ​​t-low (Ft. Sevi Rin),4782294,de
23701,t-low,9229,Tyskie (EP),553779,"August 2, 2019",Fast,Fast by ​​t-low,4782369,de
23702,t-low,9229,Tyskie (EP),553779,"August 2, 2019",Fliegt,Fliegt by ​​t-low (Ft. Murcy),4784534,de
23703,t-low,9229,Tyskie (EP),553779,"August 2, 2019",Lonely,Lonely by ​​t-low,4784567,de
23704,t-low,9229,Tyskie (EP),553779,"August 2, 2019",Augen Rot,Augen Rot by ​​t-low,4784612,de

In [8]:
df.to_csv('clean_dataset.csv', index=False)

In [9]:
a = pd.read_csv('clean_dataset.csv')
a

,Artist,Artist_ID,Album,Album_ID,Release_Date,Title,Full_Title,Song_ID,Language
0,1099,209826,10999,831505,"October 29, 2021",INTRO (10999),INTRO (10999) by King Khalil,7337100,de
1,1099,209826,10999,831505,"October 29, 2021",MEINE DUNYA,MEINE DUNYA by King Khalil,7337101,de
2,1099,209826,10999,831505,"October 29, 2021",GIB IHM,GIB IHM by King Khalil & AK 33,7337102,de
3,1099,209826,10999,831505,"October 29, 2021",10999,10999 by King Khalil,7337103,de
4,1099,209826,10999,831505,"October 29, 2021",HIGH FÜR IMMER,HIGH FÜR IMMER by King Khalil & Trippie Boi,7337099,de
...,...,...,...,...,...,...,...,...,...
23700,t-low,9229,Tyskie (EP),553779,"August 2, 2019",40 Nights,40 Nights by ​​t-low (Ft. Sevi Rin),4782294,de
23701,t-low,9229,Tyskie (EP),553779,"August 2, 2019",Fast,Fast by ​​t-low,4782369,de
23702,t-low,9229,Tyskie (EP),553779,"August 2, 2019",Fliegt,Fliegt by ​​t-low (Ft. Murcy),4784534,de
23703,t-low,9229,Tyskie (EP),553779,"August 2, 2019",Lonely,Lonely by ​​t-low,4784567,de
23704,t-low,9229,Tyskie (EP),553779,"August 2, 2019",Augen Rot,Augen Rot by ​​t-low,4784612,de